name: Build and test
on:
  pull_request:
  push:
    branches:
      - '*'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'
          cache-dependency-path: "webextension"

      - uses: cardinalby/export-env-action@v2
        with:
          envFile: './.github/workflows/constants.env'
          expand: true

      - name: Build for Chrome
        run: npm run build_chrome

      - name: Build for Firefox
        run: npm run build_firefox